<div class="row">
  <div class="col-md-4">
    <%= link_to "投稿", new_training_post_path, class: "btn btn-success btn-sm" %>
  </div>
  <div class="col-md-4">
    <%= link_to "投稿一覧", training_posts_path, class: "btn btn-success btn-sm" %>
  </div>
  <div class="col-md-4">
    <a href="#いいね一覧へのリンク" class="btn btn-success btn-sm">いいね一覧</a>
  </div>
</div>