<div class="container" style="margin-top: 130px; margin-bottom: 30px;">
  <h1 class="display-9 mb-4">トレーニング投稿のいいね一覧</h1>
  <div class="section1 text-right">
    <%= link_to "食事投稿のいいね一覧", meal_fav_path, class: "btn btn-primary btn-sm" %>
  </div>
  <% @training_fav.each do |fav| %>
    <div class="mb-3">
      <strong><%= link_to fav.training_post.title, public_training_post_path(fav.training_post) %></strong>
      <p><%= fav.training_post.content %></p>
    </div>
  <% end %>
</div>