<div class="row">
  <div class="col-md-4">
    <%= link_to "会員一覧", admin_customers_path, class: "btn btn-success btn-sm" %>
  </div>
  <div class="col-md-4">
    <%= link_to "投稿一覧", admin_training_posts_path, class: "btn btn-success btn-sm" %>
  </div>
  <div class="col-md-4">
    <%= link_to "トレーニングタグ", new_training_tag_path, class: "btn btn-success btn-sm" %>
  </div>
</div>